<h1>About Us</h1>
<% provide(:title, 'About This Site') %>
<p>
	This site, <a href="#">Togs Twitter</a> is my version of Twitter. 
	Using my knowledge of Ruby, Rails, JS, PostgreSQL, Bootstrap, etc. in conjunction with the 
	<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> as a guide
	 and <a href="http://rubyonrails.org/">Rubyonrails.org</a> for a lot of 
	 reference. Check out my code at <a href="https://github.com/tmehta2442/togstwitter">GitHub</a>. Hope you enjoy!
</p>
</html>